<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <style>
        .btn {
            margin:10px;
            width: 60%;
        }
    </style>
</head>
<body>
    <div class="container ">
        <div class="col-lg-8 col-centered form-group" style="text-align:center">
                <h1 class="text align-self-center p-2">Select Game Mode</h1>
                <a class="btn primary form-control" href="scalera">Scalera</a><br>
                <a class="btn primary form-control" href="#">Score</a>
        </div>
    </div>
    
</body>
</html>